/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */

.row {
	background-color: #090C3C;
	display: flex;
  	flex-wrap: nowrap;
  	justify-content: center;
  	color: #fff;
  	height: 50px;
}

.key {
	color: #fff;
	margin: 6px;
	background-color: DarkSlateGray;
	width: 40px;
	border-radius: 8px;
	padding-top: 10px;
	padding-left: 35px;
}
.key:hover{
	background: peru;
}
.key:active{
	background-color: Lime;
}

.tab {
	color: #fff;
	background-color: DarkSlateGray;
	margin: 6px;
	width: 70px;
	border-radius: 8px;
	padding-left: 40px;
	padding-top: 10px;
}
.tab:hover{
	background: peru;
}

.tab:active{
	background-color: Lime;
}

.delete {
	color: #fff;
	background-color: DarkSlateGray;
	margin: 6px;
	width: 60px;
	border-radius: 8px;
	padding-left: 20px;
	padding-top: 10px;
}

.delete:hover{
	background: peru;
}

.delete:active{
	background-color: Lime;
}

.enter {
	color: #fff;
	margin: 6px;
	background-color: DarkOrange;
	width: 65px;
	border-radius: 8px;
	padding-left: 	15px;
	padding-top: 10px;
}

.enter:hover{
	background: Gold;
}

.enter:active{
	background-color: Navy;
}

.accept {
	color: #fff;
	margin: 6px;
	background-color: DarkOrange;
	width: 75px;
	border-radius: 8px;
	padding-left: 	25px;
	padding-top: 10px;

}

.accept:hover{
	background: Gold;
}

.accept:active{
	background-color: Navy;
}

.space {
	color: #fff;
	margin: 6px;
	background-color: DarkSlateGray;
	width: 400px;
	border-radius: 8px;
	padding-top: 10px;
	padding-left: 400px;
}

.space:hover{
	background: peru;
}
.space:active{
	background-color: Lime;
}


